<!DOCTYPE html>
<html>
<head>
<script src="/javascripts/jquery-1.11.2.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h1><%= title %></h1>
<br>

<form id="writeForm" action="/board/write" method="post">
	<div class="form-group">
	    <label for="exampleInputText">작성자</label>
	    <input type="email" class="form-control" id="creator_id" name="creator_id" placeholder="아이디를 입력하세요.">
	</div>
	<div class="form-group">
	    <label for="exampleInputText">제목</label>
	    <input type="email" class="form-control" id="title" name="title" placeholder="제목을 입력하세요.">
	</div>
	<div class="form-group">
	    <label for="exampleInputText">내용</label>
        <textarea class="form-control" id="content" name="content" rows="3" placeholder="내용을 입력하세요."></textarea>
       	</div>
	<div class="form-group">
	    <label for="exampleInputpassword">비밀번호</label>
	    <input type="password" class="form-control" id="passwd" name="passwd" placeholder="비밀번호를 입력하세요.">
	</div>
        <div class="form-group">
		<button type="button" class="btn btn-primary" onclick="return onWriteSubmit()">글쓰기</button>
		<button type="button" class="btn btn-info" onclick="location.href='/board'">목록</button>
        </div>
</form>
</div>

<script>
function onWriteSubmit() {
	var message = "";	

	if($("#creator_id").val().trim() == ""){
		message = "아이디를 입력해주세요.";
		$("#creator_id").val("");
		$("#creator_id").focus();
		alert(message);
		return false;
	}

	if($("#title").val().trim() == ""){
		message = "제목을 입력해주세요.";
		$("#title").val("");
		$("#title").focus();
		alert(message);
		return false;
	}

	if($("#content").val().trim() == ""){
		message = "내용을 입력해주세요.";
		$("#content").val("");
		$("#content").focus();
		alert(message);
		return false;
	}

	if($("#passwd").val().trim() == ""){
		message = "비밀번호를 입력해주세요.";
		$("#passwd").val("");
		$("#passwd").focus();
		alert(message);
		return false;
	}
	
	$("#writeForm").submit();
}

</script>

</body>
</html>
